<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" href="/static/styles/style.css">
	<script type="importmap">{{{importmap}}}</script>
</head>
	<body>

		<main>
			
			{{{body}}}

		</main>
		
		<script type="module" src="/static/scenes/scene.js"></script>

		{{{reload}}}

	</body>
</html>
